.success-item__description > ul > li::before {
    content: '';
    height: 16px;
    min-width: 16px;
    margin: 0 18px 0 0;
    background: url(./assets/img/icons/check.svg) center / auto no-repeat !important;
    display: inline-block;
    position: relative;
    top: 3px;
}

.owl-carousel .owl-item img {
    width: auto !important;
}

.table-light table td > b {
    font-weight: 600;
    font-size: var(--font-18);
    letter-spacing: var(--letter-td);
    line-height: var(--line-height-16);
}

.tablepress tfoot th, .tablepress thead th {
    background-color: #fff !important;
}

table, table.tablepress {
    border-radius: var(--radius-32) !important;
}